* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar */
.navbar {
  padding: 0.5% 2%;
}
.logo {
  padding-right: 2%;
}
ul li a {
  color: #007ba7 !important;
  min-width: 7em;
  font-weight: 500;
}
.login {
  color: white;
  border-radius: 15px;
  width: 110px;
  font-weight: 500;
}
.advertisementBlock {
  max-height: 100%;
  background: #007ba7;
}
.advertisementSection {
  padding: 3% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.para {
  color: white;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 500;
}
.dot {
  position: relative;
  bottom: 5px;
  font-size: 1.5em;
  margin: 0 5px;
}
.dogpic {
  position: relative;
  height: 450px;
  bottom: 30px;
}
/* Receipe block */
.ReceipeBlock {
  background: #ffffff;
  padding: 5% 10%;
  max-height: 100%;
}
.head {
  text-align: center;
}
.mainHeading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: bold;
}
.paraTitle {
  color: #007ba7;
  font-weight: 400;
}
.receipeheading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: bold;
}
.receipeTitle {
  color: #007ba7;
  font-weight: 400;
}
.ReceipeSection {
  color: #007ba7;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}
.receipeImageBlock {
  padding: 0% 6%;
}
.receipeImage {
  width: 300px;
  height: 300px;
}
.button {
  color: white;
  border-radius: 15px;
  width: auto;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5% 3%;
}
.margin {
  margin-top: 30%;
}
.buttonBlock {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
/* Service Block */
.serviceBlock {
  background: #faae02;
  padding: 3% 5%;
}
.serviceHeading {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.serviceTitle {
  color: white;
  font-weight: 400;
}
.services {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
}
.serviceImage {
  width: 120px;
  height: 120px;
  margin-left: 20%;
}
.serviceName {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 4%;
  text-align: center;
}
.serviceDetail {
  color: white;
  text-transform: capitalize;
  max-width: 220px;
  font-weight: 200;
  margin-top: 2%;
  text-align: center;
}
/* Product and packaged block */
.productBlock {
  background: white;
  padding: 4% 5%;
}
.productHeading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: 600;
}
.productTitle {
  color: #007ba7;
  font-weight: 400;
}
.products {
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
}
.card {
  width: 15rem;
  height: 310px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 34px 0px #0000002b;
}
.card-img-top {
  height: 230px !important;
  width: 200px;
  position: relative;
  bottom: 60px;
  right: 20px;
}
.card-body {
  position: relative;
  bottom: 60px;
  left: 50px;
}
.card-title {
  color: black;
}
.card-text {
  color: #007ba7;
  font-weight: 500;
}
.buyButton {
  background: #007ba7;
  border-radius: 15px;
  padding: 2% 7%;
}
/* Action Block Css */
.ActionBlock {
  background: #fef4dc;
  padding: 4% 10%;
}
.actionHeading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: 600;
}
.profileSection {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 0.5% 10%;
  margin-top: 4%;
  border-radius: 10px;
}
.profileContent {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  margin-top: 3%;
}
.profileTitle {
  padding-top: 12px;
  color: #007ba7;
  font-weight: 500;
  text-transform: capitalize;
}
.actionTitle {
  color: #007ba7;
  text-transform: capitalize;
  margin-top: 4%;
}
.star {
  margin-right: 10px;
  margin-top: 1%;
}
.content {
  margin-top: 2%;
  max-width: 400px;
  color: #007ba7;
  font-weight: 400;
}
/* Media Query Css */
@media (min-width: 0px) and (max-width: 360px) {
  .text {
    font-size: 2.2em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
  .dogpic {
    position: relative;
    height: 350px;
    top: 10px;
  }
  .para {
    color: white;
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: 500;
  }
  .mainHeading {
    font-size: 14px;
  }
  .paraTitle {
    font-size: 8px;
  }
  .receipeheading {
    font-size: 11px;
  }
  .receipeTitle {
    font-size: 8px;
  }
  .ReceipeBlock {
    padding: 5% 2%;
  }
  .receipeImageBlock {
    padding: 0% 2%;
  }
  .receipeImage {
    width: 90px;
    height: 90px;
    margin-top: 40%;
  }
  .serviceBlock {
    padding: 3% 1%;
  }
  .serviceImage {
    width: 80px;
    height: 80px;
    margin-left: 10%;
  }
  .serviceTitle {
    font-size: 9px;
  }
  .serviceName {
    font-size: 15px;
  }
  .serviceDetail {
    font-size: 10px;
  }
  .productHeading {
    font-size: 16px;
  }
  .productTitle {
    font-size: 10px;
  }
  .products {
    flex-wrap: wrap;
    padding-top: 2%;
  }
  .productBlock {
    padding: 4% 0.5%;
  }
  .card {
    width: 14rem;
    height: 320px;
    margin-top: 27%;
  }
  .card-img-top {
    height: 240px !important;
    width: 180px;
  }
  .card-body {
    left: 20px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 18px;
  }
  .buyButton {
    font-size: large;
    padding: 4% 10%;
  }
  .ActionBlock {
    padding: 4% 0.5%;
  }
  .actionHeading {
    font-size: 18px;
  }
  .profileSection {
    width: 160px;
    padding: 0.5% 1%;
  }
  .actionTitle {
    margin-top: 4%;
    font-size: 11px;
  }
  .star {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  .content {
    font-size: 9px;
  }
}
@media (min-width: 360px) and (max-width: 450px) {
  .text {
    font-size: 2.5em;
  }
  .dogpic {
    height: 500px;
    top: 10px;
  }
  .para {
    font-size: 1em;
  }
  .mainHeading {
    font-size: 18px;
  }
  .paraTitle {
    font-size: 10px;
  }
  .receipeheading {
    font-size: 13px;
  }
  .receipeTitle {
    font-size: 10px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 130px;
    height: 130px;
    margin-top: 40%;
  }
  .serviceBlock {
    padding: 3% 1%;
  }
  .serviceImage {
    width: 80px;
    height: 80px;
    margin-left: 15%;
  }
  .serviceTitle {
    font-size: 12px;
  }
  .serviceName {
    font-size: 20px;
  }
  .serviceDetail {
    font-size: 12px;
  }
  .productTitle {
    font-size: 11px;
  }
  .products {
    flex-wrap: wrap;
    padding-top: 2%;
  }
  .productBlock {
    padding: 4% 0.5%;
  }
  .card {
    width: 15rem;
    height: 320px;
    margin-top: 23%;
  }
  .card-img-top {
    height: 250px !important;
    width: 180px;
  }
  .card-body {
    left: 20px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 18px;
  }
  .buyButton {
    font-size: large;
    padding: 4% 10%;
  }
  .ActionBlock {
    padding: 4% 2%;
  }
  .profileSection {
    width: 180px;
    padding: 0.5% 2%;
  }
  .actionTitle {
    margin-top: 4%;
    font-size: 13px;
  }
  .content {
    font-size: 10px;
  }
}
@media (min-width: 450px) and (max-width: 550px) {
  .text {
    font-size: 1.5em;
  }
  .dogpic {
    position: relative;
    height: 190px;
    top: 0;
  }
  .para {
    font-size: 0.8em;
  }
  .mainHeading {
    font-size: 20px;
  }
  .paraTitle {
    font-size: 12px;
  }
  .receipeheading {
    font-size: 15px;
  }
  .receipeTitle {
    font-size: 10px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 140px;
    height: 140px;
    margin-top: 30%;
  }
  .serviceBlock {
    padding: 3% 2%;
  }
  .serviceImage {
    width: 100px;
    height: 100px;
    margin-left: 15%;
  }
  .serviceTitle {
    font-size: 14px;
  }
  .serviceName {
    font-size: 20px;
  }
  .serviceDetail {
    font-size: 14px;
  }
  .productTitle {
    font-size: 15px;
  }
  .products {
    flex-wrap: wrap;
    padding-top: 2%;
  }
  .productBlock {
    padding: 4% 1%;
  }
  .card {
    width: 18rem;
    height: 370px;
    margin-top: 18%;
  }
  .card-img-top {
    height: 250px !important;
    width: 200px;
  }
  .card-body {
    left: 40px;
  }
  .card-title {
    font-size: 20px;
  }
  .card-text {
    font-size: 18px;
  }
  .buyButton {
    font-size: large;
    padding: 4% 10%;
  }
  .profileSection {
    width: 200px;
    padding: 0.5% 4%;
  }
  .ActionBlock {
    padding: 4% 1%;
  }
  .actionTitle {
    margin-top: 4%;
    font-size: 13px;
  }
  .content {
    font-size: 12px;
  }
}
@media (min-width: 550px) and (max-width: 645px) {
  .text {
    font-size: 2.2em;
  }
  .dogpic {
    height: 230px;
    bottom: 10px;
  }
  .para {
    font-size: 0.8em;
  }
  .receipeheading {
    font-size: 15px;
  }
  .receipeTitle {
    font-size: 12px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 160px;
    height: 160px;
    margin-top: 30%;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2%;
  }
  .productBlock {
    padding: 4% 1%;
  }
  .card {
    width: 22rem;
    height: 370px;
    margin-top: 18%;
  }
  .card-img-top {
    height: 250px !important;
    width: 270px;
  }
  .card-body {
    left: 80px;
  }
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 20px;
  }
  .buyButton {
    font-size: large;
    padding: 4% 10%;
  }
  .ActionBlock {
    padding: 4% 2%;
  }
  .actionTitle {
    margin-top: 12%;
    font-size: 14px;
  }
  .content {
    font-size: 14px;
  }
}

@media (min-width: 645px) and (max-width: 820px) {
  .text {
    font-size: 2.5em;
  }
  .dogpic {
    height: 300px;
    bottom: 20px;
  }
  .para {
    font-size: 1em;
  }
  .receipeheading {
    font-size: 16px;
  }
  .receipeTitle {
    font-size: 14px;
  }
  .ReceipeBlock {
    padding: 5% 2%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 160px;
    height: 160px;
    margin-top: 15%;
  }
  .productBlock {
    padding: 4% 2%;
  }
  .products {
    padding-top: 12%;
  }
  .card {
    width: 12rem;
    height: 280px;
  }
  .card-img-top {
    right: 10px;
    height: 230px !important;
    width: 150px;
  }
  .card-body {
    left: 30px;
  }
  .card-title {
    font-size: 18px;
  }
  .ActionBlock {
    padding: 4% 2%;
  }
  .actionTitle {
    margin-top: 8%;
    font-size: 14px;
  }
}
@media (min-width: 820px) and (max-width: 950px) {
  .text {
    font-size: 3.2em;
  }
  .dogpic {
    height: 350px;
    bottom: 20px;
  }
  .ReceipeBlock {
    padding: 5% 4%;
  }
  .receipeImageBlock {
    padding: 0% 2.5%;
  }
  .receipeImage {
    width: 250px;
    height: 250px;
  }
  .productBlock {
    padding: 4% 2%;
  }
  .products {
    padding-top: 10%;
  }
  .card {
    width: 15rem;
  }
  .card-img-top {
    right: 20px;
  }
  .card-body {
    left: 20px;
  }
}
@media (min-width: 950px) and (max-width: 1160px) {
  .text {
    font-size: 4em;
  }
  .dogpic {
    height: 400px;
    bottom: 20px;
  }
  .ReceipeBlock {
    padding: 5% 6%;
  }
  .receipeImage {
    width: 280px;
    height: 280px;
  }
  .productBlock {
    padding: 4% 2%;
  }
}
