* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 0.5% 2%;
}
.logo {
  padding-right: 2%;
}
ul li a {
  color: #007ba7 !important;
  min-width: 7em;
  font-weight: 500;
}
.login {
  color: white;
  border-radius: 15px;
  width: 110px;
  font-weight: 500;
}
.advertisementBlock {
  max-height: 100%;
  background: #007ba7;
}
.advertisementSection {
  padding: 3% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text {
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.para {
  color: white;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 500;
}
.dot {
  position: relative;
  bottom: 5px;
  font-size: 1.5em;
  margin: 0 5px;
}
.dogpic {
  position: relative;
  height: 450px;
  bottom: 30px;
}
.ReceipeBlock {
  background: #ffffff;
  padding: 5% 10%;
}
.head {
  text-align: center;
}
.mainHeading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: bold;
}
.paraTitle {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: 400;
}
.receipeheading {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: bold;
}
.receipeTitle {
  color: #007ba7;
  text-transform: capitalize;
  font-weight: 400;
}
.ReceipeSection {
  color: #007ba7;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}
.receipeImageBlock {
  padding: 0% 6%;
}
.receipeImage {
  width: 300px;
  height: 300px;
}
.button {
  color: white;
  border-radius: 15px;
  width: auto;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5% 3%;
}
.margin {
  margin-top: 30%;
}
.buttonBlock {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
@media (min-width: 0px) and (max-width: 360px) {
  .text {
    font-size: 2.2em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
  .dogpic {
    position: relative;
    height: 350px;
    top: 10px;
  }
  .para {
    color: white;
    font-size: 0.8em;
    text-transform: capitalize;
    font-weight: 500;
  }
  .mainHeading {
    font-size: 14px;
  }
  .paraTitle {
    font-size: 8px;
  }
  .receipeheading {
    font-size: 11px;
  }
  .receipeTitle {
    font-size: 8px;
  }
  .ReceipeBlock {
    padding: 5% 2%;
  }
  .receipeImageBlock {
    padding: 0% 2%;
  }
  .receipeImage {
    width: 90px;
    height: 90px;
    margin-top: 40%;
  }
}
@media (min-width: 360px) and (max-width: 450px) {
  .text {
    font-size: 2.5em;
  }
  .dogpic {
    height: 500px;
    top: 10px;
  }
  .para {
    font-size: 1em;
  }
  .mainHeading {
    font-size: 18px;
  }
  .paraTitle {
    font-size: 10px;
  }
  .receipeheading {
    font-size: 13px;
  }
  .receipeTitle {
    font-size: 10px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 130px;
    height: 130px;
    margin-top: 40%;
  }
}
@media (min-width: 450px) and (max-width: 550px) {
  .text {
    font-size: 1.5em;
  }
  .dogpic {
    position: relative;
    height: 190px;
    top: 0;
  }
  .para {
    font-size: 0.8em;
  }
  .mainHeading {
    font-size: 20px;
  }
  .paraTitle {
    font-size: 12px;
  }
  .receipeheading {
    font-size: 15px;
  }
  .receipeTitle {
    font-size: 10px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 140px;
    height: 140px;
    margin-top: 30%;
  }
}
@media (min-width: 550px) and (max-width: 645px) {
  .text {
    font-size: 2.2em;
  }
  .dogpic {
    height: 230px;
    bottom: 10px;
  }
  .para {
    font-size: 0.8em;
  }
  .receipeheading {
    font-size: 15px;
  }
  .receipeTitle {
    font-size: 12px;
  }
  .ReceipeBlock {
    padding: 5% 3%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 160px;
    height: 160px;
    margin-top: 30%;
  }
}

@media (min-width: 645px) and (max-width: 820px) {
  .text {
    font-size: 2.5em;
  }
  .dogpic {
    height: 300px;
    bottom: 20px;
  }
  .para {
    font-size: 1em;
  }
  .receipeheading {
    font-size: 16px;
  }
  .receipeTitle {
    font-size: 14px;
  }
  .ReceipeBlock {
    padding: 5% 2%;
  }
  .receipeImageBlock {
    padding: 0% 3%;
  }
  .receipeImage {
    width: 160px;
    height: 160px;
    margin-top: 15%;
  }
}
@media (min-width: 820px) and (max-width: 950px) {
  .text {
    font-size: 3.2em;
  }
  .dogpic {
    height: 350px;
    bottom: 20px;
  }
  .ReceipeBlock {
    padding: 5% 4%;
  }
  .receipeImageBlock {
    padding: 0% 2.5%;
  }
  .receipeImage {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 950px) and (max-width: 1160px) {
  .text {
    font-size: 4em;
  }
  .dogpic {
    height: 400px;
    bottom: 20px;
  }
  .ReceipeBlock {
    padding: 5% 6%;
  }
  .receipeImage {
    width: 280px;
    height: 280px;
  }
}
